body {
	margin: 0;
	overflow: hidden;
}


#playground {
	height: 80vh;
	width: 100%;
	background-color: black;
}


#histogram {
	background-color: #eef;
}


#qsphere {
	background-color: #efe;
}


#levelText {
	height: 20vh;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

