body {
	margin: 0;
	overflow: hidden;
}


#playground {
	height: 80vh;
	width: 100%;
	background-color: black;
}


#histogram, #qsphere {
	position: absolute;
	bottom: 20vh;
	height: min(20vw, 20vh);
	width: min(20vw, 20vh);
	z-index: 1;
}


#histogram {
	right: min(20vw, 20vh);
}


#qsphere {
	background-color: #efe;
	right: 0;
}


#levelText {
	height: 20vh;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

