body {
	margin: 0;
	overflow: hidden;
	user-select: none;
	background-color: #17171b;
}


#playground {
	height: 80vh;
	width: 100%;
}


#histogram, #qsphere {
	position: absolute;
	bottom: 20vh;
	margin-bottom: 10px;
	height: min(20vw, 20vh);
	width: min(20vw, 20vh);
	z-index: 1;
}


#histogram {
	right: 10px;
	/* right: min(20vw, 20vh); */
}


#qsphere {
	display: none;
	background-color: #efe;
	right: 0;
}


#reset {
	color: #666;
	font-style: italic;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 0.9em;
}


#measure {
	position: absolute;
	bottom: 20vh;
	left: 0;
	margin: 5px;
}

#undoRedo {
	display: none;
}

#simulate {
	display: none;
}


#levelText {
	height: 20vh;
	width: min(800px, 94%);
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
	bottom: 0;
	z-index: 1;
	padding: 10px;
	box-sizing: border-box;
	overflow: auto;
	color: white;
	font-family: Arial;
	font-weight: bold;
}


#prev, #next {
	display: block;
	position: absolute;
	bottom: 10vh;
	transform: translate(0, 50%);
	width: 1.5%;
	margin: 0 1%;
	height: 20vh;
	background: url(assets/arrow.svg);
	background-size: 100% 100%;
	z-index: 2;
}

#prev {
	left: 0;
}

#prev:hover {
	transform: translate(0, 50%) scale(1.15, 1.15);
}

#next {
	right: 0;
	transform: translate(0, 50%) rotate(180deg);
}

#next:hover {
	transform: translate(0, 50%) scale(1.15, 1.15) rotate(180deg);
}

